<footer>
    <div id="info-section">
        <div class="info">
            <label class="subtitle">Nombre</label>
            <label class="text">Sergio Adrián Guzmán Pérez</label>
            <label class="subtitle">Institución</label>
            <label class="text">Up Chiapas</label>
            <label class="subtitle">Carrera</label>
            <label class="text">Ingeniería en software</label>

        </div>
        <div class="info">
            <label class="subtitle">Instagram</label>
            <label class="text">adr.gum</label>
            <label class="subtitle">WatsApp</label>
            <label class="text">961-727-34-83</label>
            <label class="subtitle">GitHub</label>
            <label class="text">https://github.com/AdrianGzn</label>
        </div>
        <div class="info">
            <label class="subtitle">Fuentes</label>
            <label class="subtitle">FloraNectarifera y polinifera Chiapas.pdf</label>
            <label class="text">https://atlasnacionaldelasabejasmx.github.io-atlas/pdfs/FloraNectarifera%20y20-polinifera%20Chiapas.pdf</label>
            <label class="subtitle">Plantas venenosas / tóxicas</label>
            <label class="text">https://www.ncpoisoncontrol.org/espanol/tipos-de-venenos/plantas-y-hongos/plantas-venenosas-and-toxica</label>
            <label class="subtitle">Plantas medicinales: Nuestro Patrimonio</label>
            <label class="text">https://www.gob.mx/bienestar%7Csembrandovida/articulos/plantas-medicinales-nuestro-patrimonio</label>
        </div>
    </div>
    <div id="decoration-section">
        <img src="./assets/flora-footer.png" id="icon-footer">
    </div>
</footer>