<div id="container">
    <div id="child-1">
        <div class="info">
            <h1>Flora</h1>
            <h2>Es el conjunto de plantas, árboles, hierbas y vegetación que habitan en una región o ecosistema específico. Puede variar según el clima, el suelo y otros factores ambientales. La flora es esencial para el equilibrio ecológico, proporcionando oxígeno, alimento y hábitat para otras formas de vida.</h2>
        </div>
    </div>
    <div id="child-2">
        <div class="info">
            <h1>Cuidados</h1>
            <h2>Debes preservar los hábitats naturales, evitar la tala indiscriminada, plantar especies nativas, y controlar especies invasoras. También es importante conservar suelos y fuentes de agua, limitar el uso de pesticidas, y promover la educación ambiental en la comunidad.</h2>
        </div>
        <div class="info">
            <h1>Protección</h1>
            <h2>Puedes proteger la flora restaurando áreas degradadas, apoyando programas de reforestación, creando áreas protegidas, y colaborando con organizaciones locales. Monitorea el impacto de actividades humanas y fomenta el uso sostenible de los recursos naturales.</h2>
        </div>
    </div>
</div>